*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    height: 70px;
}
.container-head{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: orchid;
    display: flex;
    justify-content: space-between;
    
}
.logo-text{
    display: flex;
}
.logo{
    width: 90px;
    height: 100%;
    background-color: red;
}
.logo img{
    height: 100%;
}
.title{
    line-height: 70px;
    font-size: 30px;
}
.contain-input{
    line-height: 70px;
}
main{
    background-color: aqua;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
}
.block{
    display: block;
}
.countain-wrap{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: calc(500px / 8);
    height: calc(500px / 8);
    border: 1px solid black;
}

footer{
    height: 40px;
}